strands-agents==0.2.1
strands-agents-tools==0.1.8
mcp==1.10.1
boto3==1.38.46
aioboto3==13.1.1
langchain-aws==0.2.27
opensearch-py==2.8.0
langchain==0.3.25
langchain-community==0.3.25
PyPDF2==3.0.1
wikipedia==1.4.0
requests==2.32.4
beautifulsoup4==4.12.3
tavily-python==0.5.0
yfinance==0.2.52
arxiv==2.2.0
chembl-webresource-client==0.10.9
pytrials==1.0.0
plotly-express==0.4.1
matplotlib==3.10.0
kaleido==0.2.1
diagrams==0.24.4
graphviz==0.20.3
uv==0.7.19
pytz==2024.2
sarif-om==1.0.4
streamlit==1.46.1