strands-agents>=0.1.9
strands-agents-tools>=0.1.7
strands-agents-builder
strands-agents-examples
strands-agents-samples
strands-agent-mcp
mcp
boto3
langchain_aws
langchain
langchain_community
PyPDF2==3.0.1